@using AspNetCoreTodo.Model.Model
@model TodoItem

<form asp-action="AddItem" method="POST">
    <label asp-for="Title">Add a new item:</label>
    <input asp-for="Title">
    <label asp-for="DueAt">Pick a date:</label>
    <input asp-for="DueAt" type="date">
  <button type="submit">Add</button>
</form>